<h2>Registration Form</h2>
<form>
  <label>Enter User name</label>
  <input type="text" id="uname" name="uname"><br>
  <label>Enter password</label>
  <input type="password" id="pword" name="pword"><br>
  <label>Enter conform password</label>
  <input type="password" id="cpword" name="cpword"><br>
  <label>Enter phoneNumber</label>
  <input type="number" id="uname" name="uname"><br>
  <span> Select Gender:
  <input type="radio" id="F" value="Female" name="gender">F
  <input type="radio" id="M" value="male" name="gender">M
  <input type="radio" id="NA" value="NA" name="gender" >NA
</span><br>
<span>
  Select city:
  <input type="checkbox" id="1" name="city" >Winston
  <input type="checkbox" id="2" name="city" >Winston salen
  <input type="checkbox" id="3" name="city" >charlot
  <input type="checkbox" id="4" name="city" >Greensboro
  <input type="checkbox" id="5" name="city" >Dhurham
</span>
<br>
<input type="submit" name="submit">
</form>
